html,
body {
  height: 100%;
}

body {
  background: url("../images/television.png");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  color: white;
  text-align: center;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
}

h1 {
  font-size: 3.4rem;
  color: #845a34;
  font-family: 'Raleway', sans-serif;
  text-shadow: 0px 4px 0px #e7dad1;
}

p {
  margin: 0px;
}

.card-body {
  background-color: rgba(204, 184, 174, 0.9);
  border: 5px solid #d1ae8b;
  padding: 0px;
  border-radius: 10px;
}

#addShow {
  color: #fff;
  background-color: #552f11;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s;
  cursor: pointer;
  margin: .375rem;
}

button.show {
  color: #fff;
  background-color: #845a34;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s;
  cursor: pointer;
  margin: .375rem;
}

.userShow {
  display: inline-block;
  border: 5px solid #552f11;
  background-color: rgba(85, 47, 17, .7);
  border-radius: 15px;
  margin: 10px;
}

